<div class="card cr-popular">
    <div class="card card-panel">
        <h2><a href="https://search.google.com/local/writereview?placeid={{ site.place_id }}">Rating Kami di Google&trade;</a></h2>
        <span class="rating gr-pad-t">
            <amp-img src="/images/star.svg" width="25px" height="25px" alt="star 1" title="star 1" layout="fixed"></amp-img><amp-img src="/images/star.svg" width="25px" height="25px" alt="star 2" title="star 2" layout="fixed"></amp-img><amp-img src="/images/star.svg" width="25px" height="25px" alt="star 3" title="star 3" layout="fixed"></amp-img><amp-img src="/images/star.svg" width="25px" height="25px" alt="star 4" title="star 4" layout="fixed"></amp-img><amp-img src="/images/star.svg" width="25px" height="25px" alt="star 5" title="star 5" layout="fixed"></amp-img> <span class="hint"><a href="https://search.google.com/local/review?placeid={{ site.place_id }}">Bintang berdasarkan rating dan ulasan di Google Maps&trade;</a></span>
        </span>
        <div class="read-more brand-content">
            <div class="collapsed" [class]="brandContent[brandContent.currentState].style">
                <p class="info gr-mrgn-t">
                    Berikan penilaian Anda dan kami ucapkan Terimakasih bagi yang telah memberikan rating tinggi terhadap pelayanan kami. Untuk anda yang belum memberikan RATING dan Anda yang puas dengan layanan kami silakan <a href="https://search.google.com/local/writereview?placeid={{ site.place_id }}">klik link ini untuk memberikan rating kepada kami</a><br>Sekarang sudah saatnya giliran Anda untuk yang belum memperoleh layanan prima dari kami. Kontak kami untuk memastikan kesediaan pilihan Anda. <a class="theme-link text-accent" href="{{ site.whatsapp-api }}" title="Whatsapp {{ site.company }}">Klik di sini untuk menghubungi via Whatsapp</a>, atau lihat pilihan narahubung lainnya di laman <a class="theme-link text-accent" href="/kontak-kami/" title="Kontak Kami">Kontak Kami</a>.</p>
            </div>
        </div>
        <button on="tap:AMP.setState({brandContent : {currentState: (brandContent.currentState == 'Tutup' ? 'Baca Selengkapnya' : 'Tutup')}})" [text]=" brandContent.currentState">Baca Selengkapnya</button>
        <span class="hint">Hubungi kami dan dapatkan layanan terbaik dari kami</span>
    </div>
</div>
