<i>Share on : </i>&nbsp;&nbsp;&nbsp;
<a href="https://www.facebook.com/dialog/share?app_id={{ site.fb_app_id }}&display=popup&href={{ site.url }}{{ page.url }}" rel="noreferrer"><amp-img src="/images/facebook.svg" width="30px" height="30px" alt="Share on Facebook" title="Share on Facebook" layout="fixed"></amp-img></a>
&nbsp;&nbsp;&nbsp;
<a href="https://twitter.com/intent/tweet?text={{ page.title }}%0A{{ page.description }}%0A{{ site.url }}{{ page.url }}" rel="noreferrer"><amp-img src="/images/twitter.svg" width="30px" height="30px" alt="Share on Twitter" title="Share on Twitter" layout="fixed"></amp-img></a>
&nbsp;&nbsp;&nbsp;
<a href="https://api.whatsapp.com/send?phone=&text={{ page.title }}%0A%0A{{ page.description }}%0A%0A{{ site.url }}{{ page.url }}" rel="noreferrer"><amp-img src="/images/whatsapp.svg" width="30px" height="30px" alt="Share on Whatsapp" title="Share on Whatsapp" layout="fixed"></amp-img></a>